<main>
    <nav class="navbar fixed-top bg-body-tertiary">
        <div class="container">
          <a class="navbar-brand" [routerLink]="['/']">
            <img src="assets/imgs/logo-openai.svg" alt="logo" width="30" class="logo">
          </a>
          <div>
            <button type="button" title="Insights" class="btn" [routerLink]="['/gpt']">GPT</button>
            <button type="button" title="Insights" class="btn" [routerLink]="['/references']">References</button>
            <button type="button" title="About" class="btn" [routerLink]="['/about']">About</button>
            <a href="https://openai.com/">
                <button type="button" title="GPT" class="btn" href="https://openai.com">Chat</button>
            </a>
          </div>
        </div>
    </nav>
    <div class="container pt-5 mt-5">
        <h1 class="">Meanwhile, in the beautiful world of technology...</h1>
        <p class="text-justify">Explore the latest updates on ChatGPT below, delving into its newest features and advancements. Uncover the cutting-edge capabilities that make ChatGPT a powerful language model, pushing the boundaries of natural language understanding. Stay informed about the recent developments that enhance ChatGPT's performance and usability, ensuring you are up-to-date with the state-of-the-art in conversational AI.</p>
    </div>
    <section class="container-fluid">
        <div class="d-flex p-3 justify-content-center align-items-center news-section">
            <div class="w-50 m-3 mt-3 responsive-news">
                <a href="https://meunegocio.uol.com.br/blog/chatgpt/" target="_blank">
                    <div class="news news-big d-flex flex-column justify-content-start align-items-start p-5 news-1">
                        <div class="icon-news p-3 mb-3 d-flex justify-content-center align-items-center">
                            <img src="assets/imgs/newspaper.svg" alt="news">
                        </div>
                        <p class="text-news-title p-2 w-50">How to Use ChatGPT to Accelerate Your Business Promotion with Artificial Intelligence</p>
                        <p class="text-news p-2 w-25">Ever thought about using ChatGPT to sell more? Artificial Intelligence (AI) is a technology that can help your business grow significantly!</p>
                    </div>
                </a>
            </div>
            <div class="w-25 m-3 mt-3 responsive-news">
                <a href="https://www.business2community.com/br/estatisticas/chat-gpt-brasil" target="_blank">
                    <div class="news news-small p-3 news-2">
                        <div class="icon-news p-2 mb-3 d-flex justify-content-center align-items-center">
                            <img src="assets/imgs/newspaper.svg" alt="news">
                        </div>
                        <p class="text-news-title p-2">GPT Brazil Chat: Statistics, Usage Data, and Performance</p>
                        <p class="text-news p-2">One of the most remarkable aspects of the GPT Brazil Chat is how extensively it has been used since its launch. In this guide, we will explore some important statistics regarding how this AI model is being utilized and how it operates.</p>
                    </div>
                </a>
                <a href="https://exame.com/inteligencia-artificial/o-que-e-chatgpt-como-usar-a-ia-em-portugues-no-seu-dia-a-dia/" target="_blank">
                    <div class="news news-small mt-3 p-3 news-3">
                        <div class="icon-news p-2 mb-3 d-flex justify-content-center align-items-center">
                            <img src="assets/imgs/newspaper.svg" alt="news">
                        </div>
                        <p class="text-news-title p-2">What is ChatGPT? Everything You Need to Know to Use AI</p>
                        <p class="text-news p-2">ChatGPT has popularized the use of generative artificial intelligence as a resource for searching and producing text content through an instant-response chatbot; learn how to use it.</p>
                    </div>
                </a>
            </div>
            <div class="w-25 m-3 mt-3 responsive-news">
                <a href="https://www.techtudo.com.br/guia/2023/03/chatgpt-o-que-e-e-como-usar-veja-o-guia-completo-do-chatbot-da-openai-edsoftwares.ghtml" target="_blank">
                    <div class="news news-small p-3 news-4">
                        <div class="icon-news p-2 mb-3 d-flex justify-content-center align-items-center">
                            <img src="assets/imgs/newspaper.svg" alt="news">
                        </div>
                        <p class="text-news-title p-2">ChatGPT: What It Is and How to Use It? See the Complete Guide to OpenAI's Chatbot</p>
                        <p class="text-news p-2">The robot can be used to create travel itineraries, prepare users for job interviews, generate fiction stories, and much more; get to know it and learn how to access ChatGPT.</p>
                    </div>
                </a>
                <a href="https://www.gazetadopovo.com.br/vozes/voce-amanha/chatgpt-o-que-e-revolucao-e-o-que-e-balela/" target="_blank">
                    <div class="news news-small mt-3 p-3 news-5">
                        <div class="icon-news p-2 mb-3 d-flex justify-content-center align-items-center">
                            <img src="assets/imgs/newspaper.svg" alt="news">
                        </div>
                        <p class="text-news-title p-2">ChatGPT: What's Revolution and What's Hype</p>
                        <p class="text-news p-2">While tools like ChatGPT - and this market as a whole - are still seeking consolidation, it's good to establish ways to avoid falling for smooth talk.</p>
                    </div>
                </a>
            </div>
        </div>
    </section>
    <section class="container-fluid">
        <div class="d-flex p-3 justify-content-center align-items-center mb-5 news-section">
            <div class="w-25 m-3 mt-3 responsive-news">
                <a href="https://canaltech.com.br/inteligencia-artificial/o-que-e-chatgpt-como-usar-a-ia-em-portugues/" target="_blank">
                    <div class="news news-small p-3 news-6">
                        <div class="icon-news p-2 mb-3 d-flex justify-content-center align-items-center">
                            <img src="assets/imgs/newspaper.svg" alt="news">
                        </div>
                        <p class="text-news-title p-2">What is ChatGPT? | How to Use AI in Portuguese</p>
                        <p class="text-news p-2">Curiosity about innovation leads users to wonder what ChatGPT is and how to use OpenAI's tool.</p>
                    </div>
                </a>
                <a href="https://tech.co/news/what-is-chatgpt-beginners-guide-simple" target="_blank">
                    <div class="news news-small mt-3 p-3 news-7">
                        <div class="icon-news p-2 mb-3 d-flex justify-content-center align-items-center">
                            <img src="assets/imgs/newspaper.svg" alt="news">
                        </div>
                        <p class="text-news-title p-2">What Is ChatGPT? A Beginner’s Guide With Simple Explanations</p>
                        <p class="text-news p-2">What is ChatGPT? Only the world's most popular chatbot. Here's everything you need to know about the multi-talented tool.</p>
                    </div>
                </a>
            </div>
            <div class="w-75 m-3 mt-3 responsive-news">
                <a href="https://g1.globo.com/tecnologia/noticia/2023/03/14/gpt-4-openai-lanca-versao-mais-avancada-modelo-chatgpt.ghtml" target="_blank">
                    <div class="news news-big d-flex flex-column justify-content-start align-items-start p-5 news-8">
                        <div class="icon-news p-3 mb-3 d-flex justify-content-center align-items-center">
                            <img src="assets/imgs/newspaper.svg" alt="news">
                        </div>
                        <p class="text-news-title p-2 w-50">GPT-4: OpenAI releases a more advanced version of the model that serves as the foundation for ChatGPT</p>
                        <p class="text-news p-2 w-25">The company claims that GPT-4 surpasses the reasoning capabilities of the initial language model used by the conversational robot.</p>
                    </div>
                </a>
            </div>
        </div>
    </section>
    <div class="container pt-5 mt-5">
        <h1 class="">Also check out some videos that will change your way of thinking</h1>
        <p class="text-justify">Exploring new perspectives and challenging our existing ways of thinking can be a transformative experience. One powerful avenue for such intellectual exploration is through thought-provoking videos. These visual narratives have the unique ability to convey complex ideas in a concise and engaging manner, often leaving a lasting impact on our mindset. Whether it's unraveling profound philosophical concepts, shedding light on innovative technologies, or presenting fresh insights into the human experience, these videos serve as catalysts for intellectual growth. In a world overflowing with information, taking the time to delve into videos that challenge and expand our thinking is a proactive step towards cultivating a more open and adaptable mindset. So, buckle up for a journey of enlightenment as you embark on a quest to discover videos that have the potential to reshape your perspective and ignite the flames of curiosity within you.</p>
    </div>
    <div class="px-5 pt-5 mt-5 mx-3 d-flex justify-content-center align-items-center flex-wrap">
        <iframe width="853" height="480" src="https://www.youtube.com/embed/JTxsNm9IdYU?si=rJsjdweo6l76QFnB" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen class="mb-5"></iframe>
    </div>
    <div class="px-5 pt-5 mt-5 mx-3 d-flex justify-content-center align-items-center flex-wrap">
        <iframe width="853" height="480" src="https://www.youtube.com/embed/bSvTVREwSNw?si=F6Bcow_l5D2CmQsk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
    <div class="px-5 pt-5 mt-5 mx-3 d-flex justify-content-center align-items-center flex-wrap">
        <iframe width="853" height="480" src="https://www.youtube.com/embed/o5MutYFWsM8" title="What is ChatGPT? OpenAI&#39;s Chat GPT Explained" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
    <div class="px-5 pt-5 mt-5 mx-3 d-flex justify-content-center align-items-center flex-wrap">
        <iframe width="853" height="480" src="https://www.youtube.com/embed/3QFU7rEgeEM" title="How Chat GPT Will Change The World | Chat GPT Explained (Part 2)" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
    <div class="px-5 pt-5 mt-5 mx-3 d-flex justify-content-center align-items-center flex-wrap">
        <iframe width="853" height="480" src="https://www.youtube.com/embed/qdd2GZ0DVgc?si=GrRbaurowBrNW_k5" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
    <footer class="p-3 d-flex flex-column align-items-center justify-content-between mt-5">
        <div class="container d-flex justify-content-between align-items-center mb-5">
            <a class="navbar-brand" [routerLink]="['/']">
              <img src="assets/imgs/logo-openai.svg" alt="logo" width="60" class="logo">
            </a>
            <div>
                <button type="button" title="Insights" class="btn" [routerLink]="['/gpt']">GPT</button>
                <button type="button" title="Insights" class="btn" [routerLink]="['/references']">References</button>
                <button type="button" title="About" class="btn" [routerLink]="['/about']">About</button>
                <a href="https://openai.com/">
                    <button type="button" title="GPT" class="btn" href="https://openai.com">Chat</button>
                </a>
            </div>
        </div>
        <p class="mt-5 text-center">All rights reserved © 2023 - UC: Instrumental English and Digital Thinking</p>
    </footer>
</main>