<nav class="navbar fixed-top bg-body-tertiary">
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/']">
        <img src="assets/imgs/logo-openai.png" alt="logo" width="30" class="logo">
      </a>
      <div>
        <a href="https://openai.com/">
            <button type="button" title="GPT" class="btn" href="https://openai.com">GPT</button>
        </a>
        <button type="button" title="Insights" class="btn mx-3" [routerLink]="['/insights']">Insights</button>
        <button type="button" title="About" class="btn" [routerLink]="['/about']">About</button>
      </div>
    </div>
</nav>
<section>
    <div class="pt-5 mt-5 d-flex flex-column justify-content-center align-items-center container">
        <h1 class="mb-3">About GPTInsights</h1>
        <p class="text-justify">The objective of this academic project is to instruct individuals in the use of ChatGPT through valuable insights, providing a deep understanding of artificial intelligence technology.</p>
        <p class="text-justify">The approach is implemented through a dedicated website, entirely in English, serving as a platform to convey educational content about ChatGPT. The focus is on empowering viewers to explore and make the most of this tool, promoting interaction and active participation. The project aims not only to provide technical information but also to create an engaging and educational experience.</p>
    </div>
    <div class="d-flex flex-wrap justify-content-center py-5">
        <div class="members p-4 d-flex align-items-start justify-content-end">
            <img src="../../../assets/imgs/profile/guilherme.jfif" alt="" class="profile-photo">
            <div class="p-3">
                <h5>Guilherme Felix Francisco</h5>
                <p>RA</p>
                <h6>52223523</h6>
                <p>CURSO</p>
                <h6>Engenharia da Computação</h6>
                <p class="text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. In officiis voluptatibus omnis incidunt ratione aliquid obcaecati consequatur sunt eligendi.</p>
            </div>
        </div>
        <div class="members p-4 d-flex align-items-start justify-content-end">
            <img src="../../../assets/imgs/profile/victor.jpg" alt="" class="profile-photo">
            <div class="p-3">
                <h5>Victor Stefano Garcia</h5>
                <p>RA</p>
                <h6>52218212</h6>
                <p>CURSO</p>
                <h6>Engenharia da Computação</h6>
                <p class="text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. In officiis voluptatibus omnis incidunt ratione aliquid obcaecati consequatur sunt eligendi.</p>
            </div>
        </div>
        <div class="members p-4 d-flex align-items-start justify-content-end">
            <img src="../../../assets/imgs/profile/thiago.jfif" alt="" class="profile-photo">
            <div class="p-3">
                <h5>Thiago Oliveira de Santana Pinto</h5>
                <p>RA</p>
                <h6>12723113919</h6>
                <p>CURSO</p>
                <h6>Engenharia da Computação</h6>
                <p class="text-justify">Aspiring developer and tech enthusiast with a communicative flair, navigating the intersection of coding and innovation.</p>
            </div>
        </div>
        <div class="members p-4 d-flex align-items-start justify-content-end">
            <img src="../../../assets/imgs/profile/matheus.jfif" alt="" class="profile-photo">
            <div class="p-3">
                <h5>Matheus Ramos de Queiros</h5>
                <p>RA</p>
                <h6>823123305</h6>
                <p>CURSO</p>
                <h6>Nutrição</h6>
                <p class="text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. In officiis voluptatibus omnis incidunt ratione aliquid obcaecati consequatur sunt eligendi.</p>
            </div>
        </div>
        <div class="members p-4 d-flex align-items-start justify-content-end">
            <img src="../../../assets/imgs/profile/julio.jfif" alt="" class="profile-photo">
            <div class="p-3">
                <h5>Antonio Júlio Chavães do Valle Carvalho</h5>
                <p>RA</p>
                <h6>52221769</h6>
                <p>CURSO</p>
                <h6>Engenharia da Computação</h6>
                <p class="text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. In officiis voluptatibus omnis incidunt ratione aliquid obcaecati consequatur sunt eligendi.</p>
            </div>
        </div>
        <div class="members p-4 d-flex align-items-start justify-content-end">
            <img src="../../../assets/imgs/profile/graziely.jfif" alt="" class="profile-photo">
            <div class="p-3">
                <h5>Graziely Batista</h5>
                <p>RA</p>
                <h6>81034094</h6>
                <p>CURSO</p>
                <h6>Recursos Humanos</h6>
                <p class="text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. In officiis voluptatibus omnis incidunt ratione aliquid obcaecati consequatur sunt eligendi.</p>
            </div>
        </div>
        <div class="members p-4 d-flex align-items-start justify-content-end">
            <img src="../../../assets/imgs/profile/lucas.jfif" alt="" class="profile-photo">
            <div class="p-3">
                <h5>Lucas Alberto dos Santos Carvalho</h5>
                <p>RA</p>
                <h6>5221792</h6>
                <p>CURSO</p>
                <h6>Engenharia da Computação</h6>
                <p class="text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. In officiis voluptatibus omnis incidunt ratione aliquid obcaecati consequatur sunt eligendi.</p>
            </div>
        </div>
        <div class="members p-4 d-flex align-items-start justify-content-end">
            <img src="../../../assets/imgs/profile/giovani.jfif" alt="" class="profile-photo">
            <div class="p-3">
                <h5>Giovani Cordeiro Abreu</h5>
                <p>RA</p>
                <h6>52212761</h6>
                <p>CURSO</p>
                <h6>Engenharia da Computação</h6>
                <p class="text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. In officiis voluptatibus omnis incidunt ratione aliquid obcaecati consequatur sunt eligendi.</p>
            </div>
        </div>
        <div class="members p-4 d-flex align-items-start justify-content-end">
            <img src="../../../assets/imgs/profile/luiza.jfif" alt="" class="profile-photo">
            <div class="p-3">
                <h5>Luiza Carvalho Diniz</h5>
                <p>RA</p>
                <h6>1352316406</h6>
                <p>CURSO</p>
                <h6>Marketing Digital</h6>
                <p class="text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. In officiis voluptatibus omnis incidunt ratione aliquid obcaecati consequatur sunt eligendi.</p>
            </div>
        </div>
        <div class="members p-4 d-flex align-items-start justify-content-end">
            <img src="../../../assets/imgs/profile/lucas.jfif" alt="" class="profile-photo">
            <div class="p-3">
                <h5>Warley da Costa Borges</h5>
                <p>RA</p>
                <h6>202314241</h6>
                <p>CURSO</p>
                <h6>Biomedicina</h6>
                <p class="text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. In officiis voluptatibus omnis incidunt ratione aliquid obcaecati consequatur sunt eligendi.</p>
            </div>
        </div>
        <div class="members p-4 d-flex align-items-start justify-content-end">
            <img src="../../../assets/imgs/profile/jackson.jfif" alt="" class="profile-photo">
            <div class="p-3">
                <h5>Jackson Celeghin Rodrigues Junior</h5>
                <p>RA</p>
                <h6>125221100602</h6>
                <p>CURSO</p>
                <h6>Gastronomia</h6>
                <p class="text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. In officiis voluptatibus omnis incidunt ratione aliquid obcaecati consequatur sunt eligendi.</p>
            </div>
        </div>
    </div>
</section>
<footer class="p-3 d-flex flex-column align-items-center justify-content-between">
    <div class="container d-flex justify-content-between align-items-center mb-5">
        <a class="navbar-brand" [routerLink]="['/']">
          <img src="assets/imgs/logo-openai.png" alt="logo" width="60" class="logo">
        </a>
        <div>
            <a href="https://openai.com/">
                <button type="button" title="GPT" class="btn" href="https://openai.com">GPT</button>
            </a>
            <button type="button" title="Insights" class="btn" [routerLink]="['/insights']">Insights</button>
            <button type="button" title="About" class="btn" [routerLink]="['/about']">About</button>
        </div>
    </div>
    <p class="mt-5 text-center">Todos direitos reservados @ 2023 - UC: Inglês Instrumental e Pensamento Digital</p>
</footer>
    