<main>
    <nav class="navbar fixed-top bg-body-tertiary">
        <div class="container">
          <a class="navbar-brand" [routerLink]="['/']">
            <img src="assets/imgs/logo-openai.svg" alt="logo" width="30" class="logo">
          </a>
          <div>
            <a href="https://openai.com/">
                <button type="button" title="GPT" class="btn" href="https://openai.com">GPT</button>
            </a>
            <button type="button" title="Insights" class="btn mx-3" [routerLink]="['/insights']">Insights</button>
            <button type="button" title="About" class="btn" [routerLink]="['/about']">About</button>
          </div>
        </div>
    </nav>
    <section class="section1 d-flex justify-content-start align-items-end p-3">
        <div class="container mb-5">
            <p class="mb-1">Welcome to</p>
            <h1 class="display-3">GPT INSIGHTS</h1>
        </div>
    </section>
    <div class="align pt-3">
        <section class="section0 py-5 px-4 d-flex justify-content-center">
            <div class="mt-5 w-75 text-justify">
                <div class="">
                    <h5>Introduction to ChatGPT</h5>
                    <p>Welcome to the world of ChatGPT! This website is your guide to discovering what makes ChatGPT so special. Imagine having a conversation with a machine that not only understands your questions but also responds in a way that feels almost human. Here, we'll explore how ChatGPT works, its amazing adaptive capabilities, and how it can make your online interactions more engaging. Get ready to dive into the universe of artificial intelligence in a friendly and straightforward way. Let's embark on the journey to better understand what ChatGPT can do for you.</p>
                </div>
            </div>
        </section>
    </div>
    <div class="align pt-3">
        <section class="section2 py-5 px-4 d-flex">
            <div class="mt-5 w-50 text-justify">
                <div class="">
                    <h5>Discovering ChatGPT</h5>
                    <p>ChatGPT is a powerful natural language processing tool developed by OpenAI. Explore the possibilities of efficient and intuitive communication.</p>
                </div>
                <div class="mt-5">
                    <h5>Versatility in Communication</h5>
                    <p>Driven by cutting-edge artificial intelligence technology, ChatGPT provides contextual and relevant responses, delivering a more natural conversational experience.</p>
                </div>
        
                <div class="mt-5">
                    <h5>Cutting-Edge Artificial Intelligence</h5>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum totam sunt, aperiam culpa expedita debitis consectetur corrupti maxime! Numquam soluta illum nam, facilis ea deleniti itaque cupiditate eius tempore sequi.</p>
                </div>
            </div>
            <div class="w-50 text-justify img-section2"></div>
        </section>
    </div>
    <div class="align">
        <section class="section3 py-5 px-4 d-flex">
            <div class="w-50 text-justify img-section3"></div>
            <div class="mt-5 w-50 text-justify">
                <div class="">
                    <h5>Practical Applications</h5>
                    <p>Employ ChatGPT in a variety of scenarios, from assisting with daily tasks to supporting more complex projects. Its adaptability makes it valuable in diverse situations.</p>
                </div>
                <div class="mt-5">
                    <h5>Continuous Learning</h5>
                    <p>With a capacity for continuous learning, ChatGPT constantly improves its communication skills, ensuring more refined interactions and enhanced responses over time.</p>
                </div>
        
                <div class="mt-5">
                    <h5>Privacy and Security</h5>
                    <p>We prioritize your privacy and security. ChatGPT is designed with robust measures to ensure your interactions are confidential, providing a secure conversational experience.</p>
                </div>
            </div>
        </section>
    </div>
    <div class="align pt-3">
        <section class="section0 py-5 px-4 d-flex justify-content-center">
            <div class="mt-5 w-75 text-justify">
                <div class="">
                    <h5>Ignite Conversational Excellence with ChatGPT</h5>
                    <p>Step into a realm where artificial intelligence meets authentic communication. With ChatGPT, we're not just talking about technology; we're ushering in a revolution in the way we digitally connect.</p>
                    <p>Envision having a tool at your fingertips that not only comprehends your words but responds with empathy and context. OpenAI's ChatGPT is more than a virtual assistant; it's a catalyst for meaningful conversations, instant responses, and an unparalleled user experience.</p>
                    <p>Whether you're seeking practical solutions for your day-to-day or aiming to elevate interaction on your website, ChatGPT is here to inspire. Its continuous learning capability means that as you engage, it refines itself, ensuring an ever-enriching conversational journey.</p>
                    <p>The revolution in communication has begun, and ChatGPT is your gateway to a new level of digital interaction. Discover how the power of words can shape experiences and elevate the potential of your online presence with ChatGPT—where every word counts, and every conversation is an opportunity to shine.</p>
                </div>
            </div>
        </section>
    </div>
    <div class="align pt-3">
        <section class="section0 py-5 px-4 d-flex justify-content-center">
            <div class="mt-5 w-75 text-justify">
                <div class="">
                    <h5>How ChatGPT reshapes the landscape of artificial intelligence?</h5>
                    <p>ChatGPT reshapes the landscape of artificial intelligence by introducing a new dimension to human-machine interaction. Its remarkable ability to understand contexts and generate contextual responses sets a higher standard for AI communication. By dynamically adapting to each user's style, ChatGPT transcends mere functionality, providing personalized and more humanized experiences. This flexible approach represents a significant advancement, suggesting that the future of AIs is not confined to technical efficiency alone but also involves the capability to create more learnnatural and engaging interactions, fundamentally transforming how we engage with artificial intelligence.</p>
                </div>
            </div>
        </section>
    </div>
    <div class="align pt-3">
        <section class="section0 py-5 px-4 mb-5">
            <div class="mt-5 w-100 text-center d-flex justify-content-center align-items-center">
                <div class="">
                    <h5>Learn More about what ChatGPT can do</h5>
                    <button type="button" title="learn more" class="btn learn-more mt-3" [routerLink]="['/insights']">LEARN MORE</button>
                </div>
            </div>
        </section>
    </div>
    <footer class="p-3 d-flex flex-column align-items-center justify-content-between mt-5">
        <div class="container d-flex justify-content-between align-items-center mb-5">
            <a class="navbar-brand" [routerLink]="['/']">
              <img src="assets/imgs/logo-openai.svg" alt="logo" width="60" class="logo">
            </a>
            <div>
                <a href="https://openai.com/">
                    <button type="button" title="GPT" class="btn" href="https://openai.com">GPT</button>
                </a>
                <button type="button" title="Insights" class="btn" [routerLink]="['/insights']">Insights</button>
                <button type="button" title="About" class="btn" [routerLink]="['/about']">About</button>
            </div>
        </div>
        <p class="mt-5 text-center">Todos direitos reservados @ 2023 - UC: Inglês Instrumental e Pensamento Digital</p>
    </footer>
</main>