<main>
    <nav class="navbar fixed-top bg-body-tertiary">
        <div class="container">
          <a class="navbar-brand" [routerLink]="['/']">
            <img src="assets/imgs/logo-openai.svg" alt="logo" width="30" class="logo">
          </a>
          <div>
            <button type="button" title="Insights" class="btn" [routerLink]="['/gpt']">GPT</button>
            <button type="button" title="Insights" class="btn" [routerLink]="['/references']">References</button>
            <button type="button" title="About" class="btn" [routerLink]="['/about']">About</button>
            <a href="https://openai.com/">
                <button type="button" title="GPT" class="btn" href="https://openai.com">Chat</button>
            </a>
          </div>
        </div>
    </nav>
    <section class="section1 d-flex justify-content-start align-items-end p-3">
        <div class="container mb-5">
            <p class="mb-1">Welcome to</p>
            <h1 class="display-3">ChatGPT Insights</h1>
        </div>
    </section>
    <div class="align pt-3">
        <section class="section0 py-5 px-4 d-flex justify-content-center">
            <div class="mt-5 w-75 text-justify">
                <div class="">
                    <h5>IGNITE CONVERSATIONAL EXCELLENCE WITH CHATGPT</h5>
                    <p>Step into a realm where artificial intelligence meets authentic communication. With ChatGPT, we're not just talking about technology; we're ushering in a revolution in the way we digitally connect. Envision having a tool at your fingertips that not only comprehends your words but responds with empathy and context. OpenAI's ChatGPT is more than a virtual assistant; it's a catalyst for meaningful conversations, instant responses, and an unparalleled user experience. Whether you're seeking practical solutions for your day-to-day or aiming to elevate interaction on your website, ChatGPT is here to inspire. Its continuous learning capability means that as you engage, it refines itself, ensuring an ever-enriching conversational journey.</p>
                </div>
            </div>
        </section>
    </div>
    <div class="my-3 w-100 d-flex justify-content-center text-hover">
        <h1 class="text-center fw-bold">INSIGHTS</h1>
    </div>
    <div class="align pt-3">
        <section class="section2 py-5 px-4 d-flex">
            <div class="mt-5 w-50 text-justify">
                <div class="">
                    <h5>VERSATILE CONVERSATIONAL ABILITIES</h5>
                    <p>ChatGPT demonstrates versatility in engaging and comprehending a wide range of topics, making it a valuable tool for various conversations.</p>
                </div>
                <div class="mt-5">
                    <h5>CONTEXTUAL UNDERSTANDING</h5>
                    <p>One of ChatGPT's strengths is its ability to grasp context, allowing for more coherent and contextually relevant responses.</p>
                </div>
        
                <div class="mt-5">
                    <h5>CONTENT GENERATION SUPPORT</h5>
                    <p>With a foundation in the GPT-3.5 architecture, ChatGPT excels in assisting users with content creation, offering creative and contextually appropriate suggestions.</p>
                </div>
            </div>
            <div class="w-50 text-justify img-section2"></div>
        </section>
    </div>
    <div class="align">
        <section class="section3 py-5 px-4 d-flex">
            <div class="w-50 text-justify img-section3"></div>
            <div class="mt-5 w-50 text-justify">
                <div class="">
                    <h5>ADAPTABILITY TO CONVERSATIONAL STYLES</h5>
                    <p>ChatGPT adapts seamlessly to different conversational styles, enhancing the user experience and making interactions more natural.</p>
                </div>
                <div class="mt-5">
                    <h5>HUMAN-LIKE LANGUAGE GENERATION</h5>
                    <p>The model's training enables it to generate text that closely resembles human language, contributing to a more engaging and relatable conversational experience.</p>
                </div>
        
                <div class="mt-5">
                    <h5>NATURAL LANGUAGE PROCESSING EXPERTISE</h5>
                    <p>ChatGPT showcases expertise in natural language processing, making it a reliable resource for understanding and generating text in a way that feels human-like.</p>
                </div>
            </div>
        </section>
    </div>
    <div class="align pt-3">
        <section class="section0 py-5 px-4 d-flex justify-content-center">
            <div class="mt-5 w-75 text-justify">
                <div class="">
                    <h5>Ignite Conversational Excellence with ChatGPT</h5>
                    <p>Step into a realm where artificial intelligence meets authentic communication. With ChatGPT, we're not just talking about technology; we're ushering in a revolution in the way we digitally connect.</p>
                    <p>Envision having a tool at your fingertips that not only comprehends your words but responds with empathy and context. OpenAI's ChatGPT is more than a virtual assistant; it's a catalyst for meaningful conversations, instant responses, and an unparalleled user experience.</p>
                    <p>Whether you're seeking practical solutions for your day-to-day or aiming to elevate interaction on your website, ChatGPT is here to inspire. Its continuous learning capability means that as you engage, it refines itself, ensuring an ever-enriching conversational journey.</p>
                    <p>The revolution in communication has begun, and ChatGPT is your gateway to a new level of digital interaction. Discover how the power of words can shape experiences and elevate the potential of your online presence with ChatGPT—where every word counts, and every conversation is an opportunity to shine.</p>
                </div>
            </div>
        </section>
    </div>
    <div class="align pt-3">
        <section class="section0 py-5 px-4 d-flex justify-content-center">
            <div class="mt-3 w-75 text-justify">
                <div class="">
                    <h5>How ChatGPT reshapes the landscape of artificial intelligence?</h5>
                    <p>ChatGPT reshapes the landscape of artificial intelligence by introducing a new dimension to human-machine interaction. Its remarkable ability to understand contexts and generate contextual responses sets a higher standard for AI communication. By dynamically adapting to each user's style, ChatGPT transcends mere functionality, providing personalized and more humanized experiences. This flexible approach represents a significant advancement, suggesting that the future of AIs is not confined to technical efficiency alone but also involves the capability to create more learnnatural and engaging interactions, fundamentally transforming how we engage with artificial intelligence.</p>
                </div>
            </div>
        </section>
    </div>
    <div class="mb-3 mt-5 w-100 d-flex justify-content-center text-hover">
        <h1 class="text-center fw-bold">STATISTICS</h1>
    </div>
    <div class="align pt-3">
        <section class="section0 px-4 d-flex justify-content-center">
            <div class="mt-3 text-justify">
                <div class="">
                    <h5>KEY STATISTICS</h5>
                        <p>
                            ChatGPT has 1.6 billion users. It is the fastest-growing online service in history, reaching 1 million users in just 5 days after launch.
                        </p> 
                        <p>
                            Microsoft has invested $13 billion in OpenAI, the company behind ChatGPT. Microsoft provides the necessary computing infrastructure to run ChatGPT and owns 49% of OpenAI.
                        </p>
                        <p>
                            GPT-4 analyzes 100 trillion parameters to generate text and images. This surpasses the 175 billion parameters of GPT-3, the model that most people have used until now.
                        </p>
                        <p>
                            ChatGPT is trained on 300 billion words, comprising 45 TB of internet text data. The training data extends only until September 2021.
                        </p>
                        <P>
                            69.43% of the traffic on ChatGPT Brazil is direct. The majority of users access the ChatGPT site directly rather than discovering it through search or social media.
                        </P>
                </div>
            </div>
        </section>
    </div>
    <div class="align pt-3">
        <section class="section0 px-4 d-flex justify-content-center">
            <div class="mt-5 text-justify">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">MONTH</th>
                            <th scope="col">MONTHLY ACTIVE USERS</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>December 2022</td>
                            <td>266 million</td>
                        </tr>
                        <tr>
                            <td>January 2023</td>
                            <td>616 million</td>
                        </tr>
                        <tr>
                            <td>February 2023</td>
                            <td>1,0 billion</td>
                        </tr>
                        <tr>
                            <td>March 2023</td>
                            <td>1.6 billion</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>
    </div>
    <div class="align pt-3">
        <section class="section0 py-5 px-4 mb-5">
            <div class="mt-5 w-100 text-center d-flex justify-content-center align-items-center">
                <div class="">
                    <h5>Learn More about what ChatGPT can do</h5>
                    <button type="button" title="learn more" class="btn learn-more mt-3" [routerLink]="['/gpt']">LEARN MORE</button>
                </div>
            </div>
        </section>
    </div>
    <footer class="p-3 d-flex flex-column align-items-center justify-content-between mt-5">
        <div class="container d-flex justify-content-between align-items-center mb-5">
            <a class="navbar-brand" [routerLink]="['/']">
              <img src="assets/imgs/logo-openai.svg" alt="logo" width="60" class="logo">
            </a>
            <div>
                <button type="button" title="Insights" class="btn" [routerLink]="['/gpt']">GPT</button>
                <button type="button" title="Insights" class="btn" [routerLink]="['/references']">References</button>
                <button type="button" title="About" class="btn" [routerLink]="['/about']">About</button>
                <a href="https://openai.com/">
                    <button type="button" title="GPT" class="btn" href="https://openai.com">Chat</button>
                </a>
            </div>
        </div>
        <p class="mt-5 text-center">All rights reserved © 2023 - UC: Instrumental English and Digital Thinking</p>
    </footer>
</main>